
.about {
    background-color: #ffffff;
    padding-bottom: 60px;
    padding-top: 60px;
}

.about_list__item_element {
    width: 100%;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.about_list__item_element_icon {
    width: 70px;
    height: 70px;
}

.about_title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.about_description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-second);
}

@media screen and (max-width: 767px) {
    .about_list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {

    .about_title {
        text-align: start;
    }
    .about_list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }

    .about_list__item {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        background-color: #ffffff;
        padding-top: 94px;
        padding-bottom: 0px;
    }

    .about_list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .about_list__item:not(:last-child) {
        margin-right: 30px;
    }
}