.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mobile_menu__list {
    padding-bottom: 32px;
    }
.mobile_menu__site_nav {
    padding-top: 48px;
    padding-left: 0;
    margin-bottom: 302px;
    }
.mobile_menu__list_item {
    font-weight: 500;
    font-family: var(--main_font);
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--main_text_color_theme_dark);
    display: block;
    margin-bottom: 35,71px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent_color);
      }
    }
.current_page {
    color: var(--accent_color);
    }
.mobile_menu__site_nav {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    }
.mobile_menu_contacts__list_item {
    padding-bottom: 32px;
    }
.mobile_menu__phone{
    font-family: var(--main_font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent_color);
    }
.mobile_menu__mail {
    font-family: var(--main_font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--secondary_text_color_theme-dark);
    }
.mobile_social__list {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
.mobile_social__list_item_link {
    font-family: var(--main_font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1,22;
    letter-spacing: 0.02em;
    color: var(--accent_color);
    }
.mobile_social__list_item::after {
    content: "";
    margin-left: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    }
.mobile_social__list_item:last-child:after {
    content: "";
    border: none;
}

// Элементы скрыты пока ширина не достигнет 768px. т.е. они отображаются только на мобильных
@media  screen and (max-width: 768px){
    
.site_nav_menu {
    display: none;
}
.site_nav_contact {
    display: none;
}
.mobile_menu_open_btn {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
}
}
// ____________________то что отображается на планшете___________ //

@media screen and (min-width: 768px) {
    .header__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    // .header__container {
    // padding-top: 0px;
    // padding-bottom: 0px;
    // }
.mobile_menu_open_btn {
    display: none;
}

.menu_list_item {
    font-family: var(--main_font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: var(--main_text_color_theme_dark);
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent_color);
        }
}
.menu_list {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
        }
}
.current_page {
    color: var(--accent_color);

.site_nav_menu &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    content: '';
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: var(--accent_color);
    }
}
.site_nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


.site_nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.site_nav_contact {
display: block;
}
.header__container {
    display: block;
}

.site_nav {
    display: flex;
}
.mobile_contact {
    color: var(--secondary_text_color_theme-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    font-family: var(--main_font);
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0.02em;
    
        &:hover,
        &:focus {
            color: var(--accent_color);
            }
}
.site_nav_contact {
    padding-top: 21px;
    padding-left: 80px;
    padding-right: 0px;
}
.mail_link {
    margin-bottom: 10px;
}
.mail_icon {
    margin-right: 8px;
    fill: var(--secondary_text_color_theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mail_link:hover &,
    .mail_link:focus & {
        fill: var(--accent_color);
        }
}
.phone_icon {
    margin-right: 8px;
    fill: var(--secondary_text_color_theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .phone_link:hover &,
    .phone_link:focus & {
        fill: var(--accent_color);
        }
    .phone_link &::before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        fill: var(--secondary_text_color_theme-dark);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

// __________________________стили для компа______________________//

@media screen and (min-width: 1200px) {

.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_list_item {
    font-family: var(--main_font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: var(--main_text_color_theme_dark);
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent_color);
        }
}
.menu_list {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
        }
}
.current_page {
    color: var(--accent_color);

.site_nav_menu &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    content: '';
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: var(--accent_color);
    }
}
.site_nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site_nav_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--main_font);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-top: 0;
    padding-left: 335px;
}
.contact {
    color: var(--secondary_text_color_theme-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent_color);
        }
}
.contact_footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.header.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail_thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.mail_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 0;
}
.phone_link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mail_icon {
    margin-right: 10px;
    fill: var(--secondary_text_color_theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mail_link:hover &,
    .mail_link:focus & {
        fill: var(--accent_color);
        }
}
.phone_icon {
    margin-right: 10px;
    fill: var(--secondary_text_color_theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .phone_link:hover &,
    .phone_link:focus & {
        fill: var(--accent_color);
        }
    .phone_link &::before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        fill: var(--secondary_text_color_theme-dark);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
}
}