:root {
    --main_font: 'Roboto', sans-serif;
    --secondary_font: 'Raleway', sans-serif;
    --main_text_color_theme_dark: rgba(33, 33, 33, 1);
    --secondary_text_color_theme-dark: rgba(117, 117, 117, 1);
    --main_text_color_theme_light: rgba(255, 255, 255, 1);
    --secondary_text_color_theme_light: rgba(255, 255, 255, 0.6);
    --accent_color: rgba(33, 150, 243, 1);
    --hang_color: rgba(245, 244, 250, 1)
}